* {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 25px;
  color: whitesmoke;
}
body {
  background-image: url("/doga.jpg");
}
img {
  color: black;
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  border-radius: 40px;
  margin-top: 13px;
  position: relative;
  /* border: 2px solid rgb(243, 28, 64); */
}
.mid {
  /* border: 2px solid green; */
  display: inline-block;
  margin: 0px;
  padding: 0px;
  background-color: none;
  float: right;
  margin-right: 450px;
  margin-top: 20px;
  position: relative;
}

.link {
  text-decoration: none;
  padding: 0px;
}
.navbar a:hover {
  background-color: #ab2425;
  border-radius: 5px;
  color: white;
  padding: 0px;
  display: inline-block;
}
.right {
  /* border: 2px solid red; */
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: relative;
  right: 0;
  margin-top: 3px;
  margin-left: 1053px;
  transform: translate(0%, -100%);
}
.primary-btn {
  background-color: #1f1b1c;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.primary-btn:hover {
  background-color: #ab2425;
  color: whitesmoke;
}
.container {
  border: 2px solid #ab2425;
  margin-top: 55px;
  display: inline-block;
  margin-left: 184px;
  padding: 16px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(231, 231, 94), #41a19d, #251f19);
}
h3 {
  text-align: center;
}
.input {
  color: black;
  text-align: center;
  margin: 5px;
}
.submit-btn {
  position: relative;
  transform: translate(0%);
  margin: 4px;
  padding-inline-end: 41%;
  padding-left: 129px;
}
